<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Blog</title>
</head>
<body>
    <%= data %>
    <h1>Editer donnée</h1>
    <form action="/allposts/edit/<%= data._id %>?_method=PUT" method="post">
        <input type="hidden" name="_method" value="PUT">

        <label for="">Titre du post</label>
        <input type="text" name="title" placeholder="ex:Alice au pays des merveilles">
        <br>

        <label for="">Auteur</label>
        <input type="text" name="author" placeholder="ex: John Doe">
        <br>

        <label for="">Description</label>
        <textarea name="desc" id="" cols="30" rows="10"></textarea>
        <br>

        <input type="submit" value="Editer un post">
    </form>

    <h1>Supprimer la donnée</h1>
    <form action="/allposts/delete/<%= data._id %>?_method=DELETE" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Supprimer">
    </form>

    <h3>Supprimer cette donnee : </h3>
        <form action="/contact/delete/<%= data._id %>?_method=Delete" method="post"> 
            <input type="hidden" name="_method" value="Delete">
            <input type="submit" value="Supprimer">
        

</body>
</html>